{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}
    
{% block content %}
<h1>Welcome to MoodBoard!</h1>

<div id='posts'>
    Loading posts...
</div>

<script>
const postsDiv = document.getElementById('posts')

const xhr = new XMLHttpRequest()
const method = 'GET'
const endpoint = '/posts'
const responseType = 'json'

xhr.responseType = responseType
xhr.open(method, endpoint)
xhr.onload = function() {
    const serverResponse = xhr.response
    const postsList = serverResponse.response
    let finalPostStr = ""
    for (let i = 0; i < postsList.length; i++) {
        var currentPost = `<h1>${postsList[i].id}</h1> <p>${postsList[i].content}</p>`;
            finalPostStr += currentPost;
    }
    postsDiv.innerHTML = finalPostStr;
}
xhr.send()
</script>

{% endblock content %}