{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}
    
{% block content %}

<div class='row mb-3'>
    <div class='col-md-4 mx-auto col-10'>
        <form class='form' method='POST' action='create-post/'>
            {% csrf_token %}
            <input type='hidden' value='/' name='next' />
            <textarea class='form-control' name='content' placeholder="what's going on?"></textarea>
            <button class='btn btn-outline-info btn-sm' type='submit'>post</button>
        </form>
    </div>
</div>

<div class='col-6' id='posts'>
    Loading posts...
</div>

<script>

const postsDiv = document.getElementById('posts');

const xhr = new XMLHttpRequest();
const method = 'GET';
const endpoint = '/posts';
const responseType = 'json';

function formatPost (post) {
    console.log(post);
    const formattedPost = `<div class='post border mb-2 mt-2 p-4' id=${post.id}>
            <p>${post.content}</p>
            <button class='btn btn-outline-info btn-sm like-btn'>Like</button></div>`;
    return formattedPost;
}

xhr.responseType = responseType;
xhr.open(method, endpoint);
xhr.onload = function() {
    const postsList = xhr.response.response;
    let allPosts = "";
    for (let i = 0; i < postsList.length; i++) {
        let postObj = postsList[i];
        let currentPost = formatPost(postObj);
        allPosts += currentPost;
    }
    postsDiv.innerHTML = allPosts;
}
xhr.send();
</script>

{% endblock content %}